@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /* primary color */
    --color-razzmatazz-lips: #e02c6d;
    --color-boltgun-metal: #3a3a3a;
    --color-paper-white: #ffffff;
    --color-dove-gray: #6c6c6c;
    --color-orange: orange;
    --color-gray: gray;
    --color-shuttle-gray: #5e6366;
    --color-midnight-dark: #000000;
    --color-rating-star: #fb8200;
    --color-footer: #0a0826;
    --color-facebook: #4267B2;
    --color-dribble: #ea4c89;
    --color-twitter: #1DA1F2;
    --color-linkdin: #2867B2;
    --color-github: #171515;
    --color-youtube: #FF0000;
    --color-quora: #b92b27;
    --google-font: 'Montserrat', sans-serif;
    --default-transiiton: all 0.3s linear;
    --default-box-shadow: 0px 1px 1px 0px rgba(245, 245, 245, 0.75);
    --product-box-shadow: 0px 0px 10px 0px rgba(138, 138, 138, 0.75);
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--google-font);
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    padding-left: 0;
}

ul li {
    list-style: none;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

/* segment 1 */
header {
    background-color: var(--color-paper-white);
    box-shadow: var(--default-box-shadow);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 70%;
}

.header__logo a h2 {
    margin: 0;
    transition: var(--default-transiiton);
}

.header__logo a:hover h2 {
    color: var(--color-razzmatazz-lips);
}

.header__menu {
    width: 30%;
}

.group__menu {
    display: none;
}

.header__menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__menu ul li a {
    transition: var(--default-transiiton);
}

.header__menu ul li:hover a, .active {
    text-decoration: underline;
    color: var(--color-razzmatazz-lips);
}

.header__menu ul li a {
    font-size: 16px;
    font-weight: 500;
}

.header__menu ul li a i {
    font-size: 20px;
}

/* segment 2 */
.hero {
    padding: 70px 0;
    box-sizing: border-box;
}

.hero__section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.desc {
    width: 50%;
}

.hero__desc h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 600;
}

.hero__desc p {
    word-spacing: 5px;
    line-height: 25px;
    font-weight: 500;
    margin: 5% 0;
}

.btn {
    margin-top: 5%;
}

.btn span {
    background-color: var(--color-razzmatazz-lips);
    padding: 10px 20px;
    border-radius: 30px;
    transition: var(--default-transiiton);
}

.btn span:hover {
    background-color: var(--color-paper-white);
    border: 1px solid var(--color-dove-gray);
}

.btn span:hover a {
    color: var(--color-midnight-dark);
}

.btn span:hover i {
    color: var(--color-midnight-dark);
}

.hero__desc span a {
    color: var(--color-paper-white);
    font-weight: 600;
    font-size: 15px;
}

.hero__desc span i, .see_mre_btn>a>i {
    color: var(--color-paper-white);
    margin-left: 1%;
    animation: left_right 1s linear 0s infinite alternate none;
    animation-play-state: running;
}

@keyframes left_right {
    0% {
        transform: translate(0px);
    }

    20% {
        transform: translateX(2px);
    }

    40% {
        transform: translateX(4px);
    }

    60% {
        transform: translateX(6px);
    }

    80% {
        transform: translateX(8px);
    }

    100% {
        transform: translateX(10px);
    }
}

.hero__image {
    width: 50%;
    text-align: center;
    position: relative;
}

.hero__image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(images/pictures/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation: increase_decrease 1s linear 0s infinite alternate forwards;
    animation-play-state: running;
    z-index: -1;
}

@keyframes increase_decrease {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.01);
    }

    50% {
        transform: scale(1.02);
    }

    75% {
        transform: scale(1.03);
    }

    100% {
        transform: scale(1.04);
    }
}

/* segment 3 */
.brand__groups {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid #8d8a8a1c;
    border-bottom: 1px solid #8d8a8a1c;
}

.brand__groups img {
    filter: grayscale(100%);
    transition: var(--default-transiiton);
    width: 8%;
}

.brand__groups img:hover {
    filter: none;
}

/* segment 4 */
.collection {
    width: 60%;
    margin: 100px auto 50px auto;
}

.collection>h3 {
    margin: 0;
    text-align: center;
    font-size: 30px;
}

.popular__collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    padding-top: 50px;
}

.product__box {
    column-gap: 30px;
    padding: 20px;
    box-shadow: var(--product-box-shadow);
    border-radius: 5px;
    margin: 7%;
    transition: var(--default-transiiton);
}

.product__box:hover {
    box-shadow: var(--default-box-shadow);
}

.product__image {
    overflow: hidden;
    border-radius: 5px;
}

.product__image span {
    display: block;
}

.product__image span img {
    transition: var(--default-transiiton);
}

.product__image span img:hover {
    transform: scale(1.2);
}

.product__title h4 a {
    font-size: 20px;
    transition: var(--default-transiiton);
}

.product__title h4:hover a {
    color: var(--color-razzmatazz-lips);
}

.product__price h5 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

.product__rating {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rating__stars {
    margin-right: 2%;
}

.rating__stars i {
    color: var(--color-rating-star);
}

.rating__number {
    margin-left: 2%;
}

.rating__number p {
    font-weight: 500;
    font-size: 15px;
}

.product__desc p {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    word-spacing: 3px;
    margin: 0;
}

.see_mre_btn {
    position: absolute;
    bottom: -1%;
    right: 3%;
    width: 15%;
    text-align: right;
}

.see_mre_btn a {
    padding: 10px 20px;
    border-radius: 30px;
    transition: var(--default-transiiton);
}

.see_mre_btn:hover a {
    background-color: var(--color-razzmatazz-lips);
}

.see_mre_btn:hover a>* {
    color: var(--color-paper-white);
}

.see_mre_btn a span {
    color: var(--color-razzmatazz-lips);
    font-weight: 500;
}

.see_mre_btn a i {
    color: var(--color-razzmatazz-lips);
    margin-left: 0%;
}

/* segment 5 */
.bonus {
    position: relative;
}

.bonus_section_bg {
    height: 70vh;
    width: 100%;
    background-image: url(./images/cartoons/1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 50%;
    position: relative;
    z-index: -1;
}

.bonus_section_bg::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 0;
}

.bonus__section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.box {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bonus__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 80%;
    width: 50%;
    box-sizing: border-box;
    padding: 20px 30px;
    margin: 20px;
    position: relative;
    z-index: 1;
    transition: var(--default-transiiton);
    border-radius: 5px;
    box-shadow: var(--product-box-shadow);
}

.bonus__box:nth-child(1) {
    background-image: url(./images/cartoons/2.jpg);
}

.bonus__box:nth-child(2) {
    background-image: url(./images/cartoons/3.jpg);
}

.bonus__box:nth-child(3) {
    background-image: url(./images/cartoons/4.jpg);
}

.bonus__box:nth-child(4) {
    background-color: rgb(192, 192, 192);
    padding: 0 20px;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: none;
    margin-left: 20px;
}

.bonus__box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    border-radius: 5px;
}

.bonus__box:hover {
    transform: scale(1.05);
}

.bonus__box h1 {
    margin: 0;
    color: var(--color-paper-white);
    transition: var(--default-transiiton);
}

.bonus__box p {
    margin: 0;
    color: var(--color-paper-white);
    transition: var(--default-transiiton);
}

.info__image {
    overflow: hidden;
    border-radius: 50%;
}

.info__image span img {
    border-radius: 50%;
    transition: var(--default-transiiton);
}

.info__image span img:hover {
    transform: scale(1.1);
}

.bonus__box h1 {
    margin: 10px 0;
    color: var(--color-paper-white);
    transition: var(--default-transiiton);
}

.bonus__box p {
    margin-bottom: 10px;
    color: var(--color-paper-white);
    transition: var(--default-transiiton);
}

.author__social {
    padding: 10px 0;
    background-color: var(--color-paper-white);
    text-align: center;
}

.author__social a {
    display: inline-block;
    margin: 0 5px;
}

.author__social a i {
    font-size: 20px;
    transition: var(--default-transiiton);
}

.author__social a:nth-child(1):hover i{
    color: var(--color-github);
}
.author__social a:nth-child(2):hover i {
    color: var(--color-quora);
}
.author__social a:nth-child(3):hover i{
    color: var(--color-linkdin);
}
.author__social a:nth-child(4):hover i{
    color: var(--color-youtube);
}

/* segment 6 */
.footer {
    background-color: var(--color-footer);
    color: var(--color-paper-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    justify-content: center;
}

.footer__title h3 {
    margin: 0;
    letter-spacing: 1px;
}

.footer__desc {
    text-align: center;
}

.footer__desc p {
    line-height: 25px;
    word-spacing: 3px;
    letter-spacing: 1px;
}

.footer__links {
    width: 10%;
}

.social__links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.social__links a {
    color: var(--color-paper-white);
    border-radius: 50%;
    border: 1px solid gray;
    height: 25px;
    width: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: var(--default-transiiton);
}

.social__links a:first-child:hover {
    background-color: var(--color-facebook);
    color: var(--color-paper-white);
    border: 1px solid transparent;
}

.social__links a:nth-child(2):hover {
    background-color: var(--color-dribble);
    color: var(--color-paper-white);
    border: 1px solid transparent;
}

.social__links a:nth-child(3):hover {
    background-color: var(--color-twitter);
    color: var(--color-paper-white);
    border: 1px solid transparent;
}

.social__links a:last-child:hover {
    background-color: var(--color-linkdin);
    color: var(--color-paper-white);
    border: 1px solid transparent;
}